@import "../../../styles/variables.scss";

.bookings {
    width: 100vw;
    height: 100%;
    background-color: $grey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 4rem 0 !important;
    overflow-y: scroll;
    transition: 0.3s ease-out;
    box-sizing: border-box;

    >i {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 500;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $red;
        }
    }


    .heading {
        text-align: center;
        margin-bottom: 4rem;

        h2 {
            font-size: 1.75rem;
            letter-spacing: 1px;
            margin: 0 0 0.5rem 0;
            font-weight: 600;

            span {
                color: $red;
            }
        }

        p {
            font-size: 0.9rem;
            font-weight: 300;
            color: $lightgrey;
            margin: 0;
        }
    }

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;

        .course {
            display: grid;
            grid-template-columns: 1fr 0.2fr 0.1fr;
            border-bottom: 1px solid $lightgrey;
            padding: 1.5rem 1rem 1.5rem 0;

            .text {

                h5 {
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin: 0 0 0.25rem 0;
                }

                p {
                    font-size: 0.9rem;
                    font-weight: 300;
                    color: $lightgrey;
                    margin: 0;
                }

            }

            .price {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    margin: 0;
                    color: $red;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }

            .check {
                display: flex;
                align-items: center;
            }
        }
    }

    .form {
        width: 100%;
        text-align: left;

        h4 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            margin: 0 0 0.5rem 0;
            text-align: center;
            font-weight: 600;

            span {
                color: $red;
            }
        }

        label {
            display: block;
            font-weight: 500;
            font-size: 0.9rem;
            margin-bottom: 0.25rem;
        }

        input,
        textarea {
            resize: none;
            font-family: $font;
            background-color: transparent;
            border: 2px solid $lightgrey;
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
            outline: none;
            color: $white;
        }

        textarea {
            height: 100px;
        }

        .row {
            margin-bottom: 1rem;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }

        .contact,
        .paymentDetails {
            padding-top: 4rem;
        }

        .paymentDetails {
            text-align: center;

            >h4 {
                margin: 0
            }

            >p {
                font-weight: 300;
                color: $lightgrey;
                margin: 0;
                margin-bottom: 2rem;
                font-size: 0.9rem;
            }

            ul {
                @include reset-list;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                li {
                    margin: 0.25rem 0;

                    span {
                        font-weight: 500;
                        color: $red;
                        display: block;
                    }

                    p {
                        background-color: red;
                        color: $white;
                        font-weight: 500;
                        display: inline-block;
                        padding: 0.25rem 0.5rem;
                    }
                }
            }
        }

        .coupon {
            padding: 2rem 0;

            input {
                text-align: center;
            }
        }

        .pop {
            display: flex;
            align-items: center;
            flex-direction: column;

            input {
                border: none;
                width: unset;
                padding: 0;
            }
        }

        .submit {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (max-width: 768px) {
        .grid {
            .course {
                grid-template-columns: 1fr 1fr;
                row-gap: 1rem;

                .text {
                    grid-column: 1/3;
                }

                .price {
                    justify-content: flex-start;
                }

                .check {
                    justify-content: flex-end;
                }
            }
        }

        .form {

            .grid {
                grid-template-columns: 1fr;
            }

            .paymentDetails ul {
                grid-template-columns: 1fr;
            }
        }



    }
}