@import "../../../styles/variables.scss";

.grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid $red;
    position: relative;
    padding: 1rem;

    .item {
        display: flex;
        align-items: center;

        .image {
            margin-right: 1rem;

            img {
                width: 3rem;
            }
        }

        .details {
            .name {
                margin: 0;
                font-size: 1.1rem;
                font-weight: 600;
            }

            .category {
                color: $red;
                margin: 0;
                margin-top: 0.25rem;
                font-weight: 600;
                font-size: 0.8rem;
            }

            .digital {
                margin-top: 0.25rem;
                font-size: 0.7rem;
                background-color: $red;
                color: $white;
                padding: 0.25rem 0.5rem;
                display: inline-block;
            }
        }
    }

    .quantity {
        display: flex;
        align-items: center;
        font-weight: 600;

        i {
            font-weight: 400;
            padding: 0.5rem;
            cursor: pointer;
            transition: 0.3s ease-out;
            color: $white;

            &:hover {
                color: $red;
            }
        }
    }

    .price {
        color: $red;
        white-space: nowrap;
        margin: 0 0.25rem;
    }

    .total {
        font-weight: 600;
        font-size: 1.1rem;
        white-space: nowrap;
        margin: 0 0.25rem;
    }



    .remove {
        cursor: pointer;
        transition: 0.3s ease-out;
    }

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;

        .item {
            width: 100%;
            padding-top: 0.5rem;
        }

        .remove {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
    }
}