@import "../variables.scss";

.shop {
  background-color: $white;

  .content {
    padding: 6rem 0;

    .categories {
      display: flex;
      justify-content: center;
      column-gap: 2rem;
      row-gap: 1rem;

      .button {
        border: 2px solid $lightgrey;
        color: $darkgrey;
        background-color: transparent;
        outline: none;
        text-transform: uppercase;
        padding: 0.75rem 2rem;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        font-weight: 500;


        &:hover {
          border-color: $red;
          color: $red;
        }

        &.active {
          border-color: $red;
          background-color: $red;
          color: $white;
        }
      }
    }

    .sort {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 1rem;

      label {
        font-size: 0.9rem;
        font-weight: 500;
        margin-right: 0.5rem;
      }
    }

    .grid {
      display: grid;
      grid-gap: 2rem;
      margin-top: 3rem;
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 991px) {
      .grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media screen and (max-width: 768px) {
      .grid {
        grid-template-columns: repeat(2, 1fr);
      }

      .categories {
        flex-wrap: wrap;
      }

      .sort {
        justify-content: center;
        margin-top: 2rem;
      }
    }

    @media screen and (max-width: 576px) {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}