@import "../../variables.scss";

.cart {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    box-sizing: border-box;

    h2 {
        font-size: 1.75rem;
        letter-spacing: 1px;
        text-align: center;

        margin: 0 0 2rem 0;

        span {
            color: $red;
        }
    }

    .grid {
        width: 100%;

        .items {
            display: flex;
            flex-wrap: wrap;
            row-gap: 1rem;
            justify-content: center;
        }

        .options {
            display: flex;
            column-gap: 2rem;
            margin-top: 3rem;
            justify-content: center;
        }

    }
}