@import "../../../styles/variables.scss";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    .form {
        form {
            width: 100%;
            text-align: left;

            .row {
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;

                >div {
                    width: 47.5%;
                }

                label {
                    display: block;
                    font-weight: 500;
                    font-size: 0.9rem;
                    margin-bottom: 0.25rem;
                }

                input,
                textarea {
                    resize: none;
                    font-family: $font;
                    background-color: transparent;
                    border: 2px solid $lightgrey;
                    width: 100%;
                    padding: 0.5rem;
                    box-sizing: border-box;
                    outline: none;
                    color: $white;
                }

                textarea {
                    height: 100px;
                }
            }
        }
    }

    .summary {
        background-color: rgba($lightgrey, 0.2);
        align-self: flex-start;
        padding: 2rem;

        h2 {
            font-weight: 600;
            font-size: 1.25rem;
            margin: 0;
            margin-bottom: 1rem;
        }

        .row {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.5rem;

            p {
                margin: 0;
            }

            h6 {
                font-weight: 600;
                font-size: 1.1rem;
                margin: 0;
            }
        }

        .total {
            border-top: 1px solid $darkgrey;
            padding: 0.5rem;

            h6 {
                color: $red;
            }
        }

        button {
            float: right;
            margin-top: 1rem;
        }
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
    }
}