$red: #e1232d;
$darkgrey: #222222;
$grey: #333333;
$lightgrey: #768a93;
$white: #ffffff;
$font: "Poppins",
Tahoma,
Geneva,
sans-serif;
$heading-font: "Montserrat",
Tahoma,
Geneva,
sans-serif;

@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}