@import "../../../styles/variables.scss";

.header {
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .nav {
        display: flex;
        justify-content: space-between;
        color: $white;
        align-items: center;

        .logo {
            img {
                width: 8rem;
            }
        }

        .menu {
            @include reset-list;
            display: flex;

            li {
                margin: 0 1rem;

                a {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
        }

    }
}